* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}

.headup {
    padding: 15px 0px;
    width: 1600px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #1E3932;
}

.thunderic {
    margin-right: 10px;
}

.containerarea {
    width: 1600px;
    height: 100px;
    background-color: #1E3932;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.containerarea a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.but {
    border-radius: 30px;
    padding: 15 10;
    border: 1px solid white;
    margin-right: 15px;
}

.headerleft {
    align-content: center;
    display: flex;

}
.lup{
    background-color: white;
    background-image: url(/assets/imgs/search-icon.svg);
    mask-image: image();
    width: 16;
    height: 16;
    margin: 0px 15px;
}

.cart{
    margin: 0px 15px;
    background-color: white;
    width: 19;
    height: 18;
    color: white;

}

.headerright {
    align-items: center;
    display: flex;
}

.headerright a {
    margin: 0px 15px;
}

.headerleft a {
    margin: 0px 15px;
}


.logo {
    display: flex;
    justify-content: center;
}

.banner{
    width: 1600px;
    height: 700px;
    overflow: hidden;
}

.cont{
    display: flex;
    width: 500%;
    height: 700px;
}

.cont input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    height: 700px;
    width: 1600;
}

.manualnav{
    position: absolute;
    margin-top: -40px;
    height: 700px;
    align-items: end;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.manuelbtn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 0.60s;
}


.manuelbtn:not(:last-child){
    margin-right: 30px;
}

.manuelbtn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}

.navauto{
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: -40px;
    height: 700px;
    align-items: end;
    justify-content: center;
}

.navauto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navauto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navauto .autobt1{
    background: white;
}


#radio1:checked ~ .navauto .autobt2{
    background: white;
}


#radio1:checked ~ .navauto .autobt3{
    background: white;
}


#radio1:checked ~ .navauto .autobt4{
    background: white;
}


#radio1:checked ~ .navauto .autobt5{
    background: white;
}


#radio1:checked ~ .navauto .autobt6{
    background: white;
}


#radio1:checked ~ .navauto .autobt7{
    background: white;
}

.default.vrd{
    background-color:#1E3932;
}

.areaz{
    text-align: center;
    font-size: 22px;
    width: 100%;
    color: white;
    margin: 0px auto;
    padding: 76 120;
    font-weight: 600;
}

.areaz p{
    margin-top: 10px;
    font-size: 20px;
}

.default.white{
    background-color: white;

}

.whiteh1, .whiteh2{
    text-align: center;
    font-weight: 600;
    

}


.whiteh2{
    margin-top: 25px;
    color: #006241;
    font-size: 20px;
}

.whiteh1{
    color: #1E3932;
    font-size: 30px;
}


.areaw{
    display: flex;
    justify-content: center;
}

.imgsa img{
    width: 240px;
    height: 300px;
    margin:0px 125px;
}

.imgsa{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.imgsa p, .imgsa span{
    color: #5a5959;
    margin-top: 5px;
}


.imgsa a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 19px;
    display: flex;
    justify-content: center;
}

#value{
    font-size: 20px;
}

.counter div{
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

.counter button{
    color: #006241;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    cursor: pointer;
}

.counter button:hover{
    opacity: .8;
}

.plus ,.minus, .cb{
    
    width: 30px;
    font-size: 22px;
    border: 1px solid #1E3932;
    border-radius:150px;
}

.counter a{
    margin: 0px 15px;
    color: white;
    background-color: #006241;

}

.pp{
    display: flex;
    justify-content: center;
    text-align: center;
}

.pp p{
    margin: 5;
    color: black;
}

.default {
    padding: 50px 0px;
    width: 100vw;
}



















