* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;


}

.headup {
    padding: 15px 0px;
    width: 1600px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #1E3932;
}

.thunderic {
    margin-right: 10px;
}

.containerarea {
    width: 1600px;
    height: 100px;
    background-color: #1E3932;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.containerarea a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.but {
    border-radius: 30px;
    padding: 15 10;
    border: 1px solid white;
    margin-right: 15px;
}

.headerleft {
    align-content: center;
    display: flex;

}

.lup {
    color: black;
    width: 16;
    height: 16; 
    margin: 0px 15px;
}

.cart {
    margin: 0px 15px;
    width: 19;
    height: 18;
    color: white;

}

.cart svg{



}

.headerright {
    align-items: center;
    display: flex;
}

.headerright a {
    margin: 0px 15px;
}

.headerleft a {
    margin: 0px 15px;
}


.logo {
    display: flex;
    justify-content: center;
}

.banner {
    width: 1600px;
    height: 700px;
    overflow: hidden;
}

.cont {
    display: flex;
    width: 500%;
    height: 700px;
}

.cont input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    height: 700px;
    width: 1600;
}

.manualnav {
    position: absolute;
    margin-top: -40px;
    height: 700px;
    align-items: end;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.manuelbtn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.60s;
}


.manuelbtn:not(:last-child) {
    margin-right: 30px;
}

.manuelbtn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

#radio6:checked~.first {
    margin-left: -100%;
}

#radio7:checked~.first {
    margin-left: -120%;
}

.navauto {
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: -40px;
    height: 700px;
    align-items: end;
    justify-content: center;
}

.navauto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navauto div:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked~.navauto .autobt1 {
    background: white;
}


#radio1:checked~.navauto .autobt2 {
    background: white;
}


#radio1:checked~.navauto .autobt3 {
    background: white;
}


#radio1:checked~.navauto .autobt4 {
    background: white;
}


#radio1:checked~.navauto .autobt5 {
    background: white;
}


#radio1:checked~.navauto .autobt6 {
    background: white;
}


#radio1:checked~.navauto .autobt7 {
    background: white;
}

.default.vrd {
    background-color: #1E3932;
    color: white;
}

.default.beig{
    background-color: #F2F0EB;
}

.areaz {
    text-align: center;
    font-size: 22px;
    width: 100%;
    color: white;
    margin: 0px auto;
    padding: 76 120;
    font-weight: 600;
}

.areaz p {
    margin-top: 10px;
    font-size: 20px;
}

.default.white {
    background-color: white;

}

.whiteh1,
.whiteh2 {
    text-align: center;
    font-weight: 600;


}


.whiteh2 {
    margin-top: 25px;
    color: #006241;
    font-size: 20px;
}

.whiteh1 {
    color: #1E3932;
    font-size: 30px;
}


.areaw {
    display: flex;
    justify-content: center;
}

.imgsa img {
    width: 240px;
    height: 300px;
    margin: 0px 125px;
}

.imgsa {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.imgsa p,
.imgsa span {
    color: #5a5959;
    margin-top: 5px;
}


.imgsa a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 19px;
    display: flex;
    justify-content: center;
}

#value {
    font-size: 20px;
}

.counter div {
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

.counter button {
    color: #006241;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    cursor: pointer;
}

.counter button:hover {
    opacity: .8;
}

.plus,
.minus,
.cb {

    width: 30px;
    font-size: 22px;
    border: 1px solid #1E3932;
    border-radius: 150px;
    transition: 0.70s;

}


.cb:hover{
    background-color:#006241 ;
    color: white;
    
    
}


.counter a {
    margin: 0px 15px;
    color: white;
    background-color: #006241;
    transition: 0.5s;
}

.counter a:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.pp {
    display: flex;
    justify-content: center;
    text-align: center;
}

.pp p {
    margin: 5;
    color: black;
}

.default {
    padding: 50px 0px;
    width: 100vw;
}

.rg {
    text-align: start;
    align-items: center;
}

.rg h2 {
    font-weight: 700;
}

.rg h1 {
    font-size: 60;
    font-weight: 400;
}

.rg p {
    font-weight: 400;
    font-size: 18px;
}

.its {
    margin-top: 15px;
    display: flex;
    align-items: center;

}

.its img {
    margin-left: 15px;
}

.its p {
    margin-left: 10px;
}

.rg a {
    background-color: #006241;
    padding: 14 30px;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
}

.lef img {
    margin-left: 25px;
}

.aa {
    align-items: center;
    display: flex;
    justify-content: center;
}

.backk {
    position: absolute;
    left: 30%;

}

.backk img {
    height: 550px;
   max-height: 550px;
}

.swiper{
    width: 1000px;
    height: 500px;
}
.azin a{
    color: #006241;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    padding: 5px;
    border-bottom: 4px solid green;
}

.azin{
    text-align: center;
    margin-top:30px;

}

.swiper-slide{

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.projectimg img{
    width: 640px;

}

.areal{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
}

.rr{
    margin:0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rr h2{
    display: flex;
    justify-content: start;
    color: #006241;
    font-weight: 200;
    font-size: 20;
}
.rr h1{
    color: #1E3932;
    text-align: start;
    font-size: 80px;
    line-height: 75px;
}

.rr p{
    text-align: start;
    font-weight: 500;
    font-size: 19px;
    color: #1E3932;
}

.minl{
    display: flex;
    align-items: center;
}

.minl p{
    color: #006241;
}

.minl a{
    background-color: #006241;
    padding: 14 30px;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
}